.order {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: auto;
}

.order__price {
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 10px 0px 0px 15px;
}
