.like{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    height: 70px;
    width: 90px;
    margin: auto 0 auto auto;
    border-left: 1px solid rgb(237, 237, 237);
}

.like__sum {
    font-size: 14px;
    color: rgb(116, 135, 150);
}