.search{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
    align-items: center;
    height: auto;
    margin-top: 53px;
}

@media all and (max-width: 600px) {
    .search{
        flex-flow: column wrap;
    }
}
